#intro-container {
  border-radius: 50px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: larger;
  height: 70vh;
  margin: auto;
  padding: 2rem 1rem 0;
  position: relative;
  row-gap: 1rem;
  text-align: center;
  width: 80vw;
}

#intro-container::before {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  bottom: 0;
  content: '';
  height: 70vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 80vw;
}

#current-step {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding-top: 1rem;
}

#get-name {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#name-input {
  font-size: large;
  margin: 0 auto;
  width: 50%;
}

#start-btn,
#next-btn {
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
  width: fit-content;
}

#intro-container * {
  z-index: 1;
}
